<section class = "banner-container">
    <img src = "./assets/imgs/banner.jpg" alt = "Banner">
    <div class="jumbotron jumbotron-fluid banner-jumb">
        <div class = "banner-wrapper">
            <div class = "banner-title">
              <h1 class = "title">Hello, I'm Var Arenz Villarino</h1>
              <h1 class = "title">I'm a Web Developer</h1>
            </div>
            <button type="button" class="btn btn-light" routerLink = "/projects" style = "background: transparent; color: #fff;"><strong>View my works</strong></button>
        </div>
    </div>
</section>

<div class="jumbotron jumbotron-fluid head-jumb">
  <div class="container">
    <div class = "homePara">
        <p>
            Var Arenz G. Villarino is a fresh graduate at New Era University. He loves to code both in Front-end
            and Back-end Development
        </p>
    </div>
  </div>
</div>

<div class = "container-fluid" style = "background: #a29bfe; padding: 15px 0px;">
    <div class = "container">

    <h1 class = "webToolHeader">My Web Development Tools</h1>
        
        <div class = "row webToolsBox">

            <li class = "col-lg-2 col-3 mb-3">
                <div>
                    <img src="./assets/icons/html5.png" class = "" alt="...">
                    <span class = "dev-tools-title">HTML5</span>
                </div>
            </li>

            <li class = "col-lg-2 col-3 mb-3">
                <div>
                    <img src="./assets/icons/css3.png" class = "img-fluid" alt="...">
                    <span  class = "dev-tools-title">CSS3</span>
                </div>
            </li>

            <li class = "col-lg-2 col-3 mb-3">
                <div>
                    <img src="./assets/icons/javascript.png" class = "img-fluid" alt="...">
                    <span  class = "dev-tools-title">Javascript</span>
                </div>
            </li>

            <li class = "col-lg-2 col-3 mb-3">
                <div>
                    <img src="./assets/icons/bootsrap.png" class = "img-fluid" alt="...">
                    <span  class = "dev-tools-title">Bootsrap 4</span>
                </div>
            </li>

            <li class = "col-lg-2 col-3 mb-3">
                <div>
                    <img src="./assets/icons/sass.png" class = "img-fluid sass" alt="...">
                    <span  class = "dev-tools-title">Sass</span>
                </div>
            </li>

            <li class = "col-lg-2 col-3 mb-3">
                <div>
                    <img src="./assets/icons/typescript.png" class = "img-fluid" alt="...">
                    <span  class = "dev-tools-title">Typescript</span>
                </div>
            </li>

        </div>

        <div class = "row webToolsBox">

            <li class = "col-lg-2 col-3 mb-3">
                <div>
                    <img src="./assets/icons/angular.png" class = "img-fluid" alt="...">
                    <span class = "dev-tools-title">Angular</span>
                </div>
            </li>

            <li class = "col-lg-2 col-3 mb-3">
                <div>
                    <img src="./assets/icons/jquery.png" class = "img-fluid ltr-icon" alt="...">
                    <span class = "ltr-span dev-tools-title">jQuery</span>
                </div>
            </li>

            <li class = "col-lg-2 col-3 mb-3">
                <div>
                    <img src="./assets/icons/maven.png" class = "img-fluid ltr-icon" alt="...">
                    <span class = "ltr-span dev-tools-title">Maven</span>
                </div>
            </li>

            <li class = "col-lg-2 col-3 mb-3">
                <div>
                    <img src="./assets/icons/github.png" class = "img-fluid" alt="...">
                    <span class = "dev-tools-title">Github</span>
                </div>
            </li>

            <li class = "col-lg-2 col-3 mb-3">
                <div>
                    <img src="./assets/icons/java.png" class = "img-fluid" alt="...">
                    <span class = "dev-tools-title">Java</span>
                </div>
            </li>

            <li class = "col-lg-2 col-3 mb-3">
                <div>
                    <img src="./assets/icons/spring-boot.png" class = "img-fluid spring" alt="...">
                    <span class = "dev-tools-title">Spring-boot</span>
                </div>
            </li>

        </div>

        <div class = "row webToolsBox">

            <li class = "col-lg-2 col-3 mb-3">
                <div>
                    <img src="./assets/icons/swagger.png" class = "img-fluid sass" alt="...">
                    <span class = "dev-tools-title">Swagger</span>
                </div>
            </li>

            <li class = "col-lg-2 col-3 mb-3">
                <div>
                    <img src="./assets/icons/mysql2.png" class = "img-fluid" alt="...">
                    <span class = "dev-tools-title">Mysql</span>
                </div>
            </li>

            <li class = "col-lg-2 col-3 mb-3">
                <div>
                    <img src="./assets/icons/hibernate.png" class = "img-fluid" alt="...">
                    <span class = "dev-tools-title">Hibernate</span>
                </div>
            </li>

            <li class = "col-lg-2 col-3 mb-3">
                <div>
                    <img src="./assets/icons/mybatis.png" class = "img-fluid" alt="...">
                    <span class = "dev-tools-title">Mybatis</span>
                </div>
            </li>


        </div>

    </div>
</div>

<div class = "container mt-5">
    <h1 class = "content-header">My College Projects</h1>
</div>

<div class = "wrapper mb-5">
    <div class = "row justify-content-lg-center mt-3">

        <div class = "col-lg-6 col-md-12 col-sm-12 mb-4" *ngFor = "let project of projects">

            <div class="card" style="width: 100%;">
                <div class = "image-wrapper">
                     <img class="card-img-top projImg" [src]="project.image" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{project.title}}</h5>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    <button type="button" (click) = "viewProject(project)" class="btn btn-primary view-button">View Details</button>
                </div>
            </div>

        </div>

    </div>

</div>




