<div class="jumbotron jumbotron-fluid head-jumb">
  <div class="container">
    <div class = "homePara">
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
    </div>
  </div>
</div>

<div class = "container mt-5">
    <h1 class = "content-header">My College Projects</h1>
</div>

<div class = "wrapper mb-5">
    <div class = "row justify-content-lg-center mt-3">

        <div class = "col-lg-5">

            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/imgs/illustration.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" class="btn btn-primary view-button">View Details</button>
                </div>
            </div>

        </div>

        <div class="col-lg-5">

            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/imgs/illustration.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button type="button" class="btn btn-primary view-button">View Details</button>
                </div>
            </div>

        </div>


    </div>

     <div class = "row justify-content-lg-center mt-3">

        <div class = "col-lg-5">

            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/imgs/illustration.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" class="btn btn-primary view-button">View Details</button>
                </div>
            </div>

        </div>

        <div class="col-lg-5">

            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../../assets/imgs/illustration.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button type="button" class="btn btn-primary view-button">View Details</button>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="container mt-5">
  <h1 class="content-header">My Web Development Tools</h1>
</div>

<div class = "container">

    <h1>Front-end</h1>
    <div class = "row">

        <ul>
            <li><img src="../../../assets/icons/angular.png" alt="..." class="rounded-circle"></li>
        </ul>

    </div>

</div>

