<section class = "wrapper">

  <div class = "carousel-container" *ngIf = "id == 1">

      <carousel>
          
          <slide>
            <img src="../../../../assets/imgs/intranetPortal/news.JPG" alt="second slide" class="img-fluid" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
               <h1 style = "color: #fff">News</h1>
            </div>
          </slide>
          <slide>
            <img src="../../../../assets/imgs/intranetPortal/dashboard.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
               <h1 class = "slide-label">Dashboard</h1>
            </div>
          </slide>
          <slide>
            <img src="../../../../assets/imgs/intranetPortal/newevents.JPG" alt="third slide" class="img-fluid" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
               <h1 class = "slide-label">Create Event</h1>
            </div>
          </slide>
          <slide>
            <img src="../../../../assets/imgs/intranetPortal/events.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
               <h1 class = "slide-label">Events</h1>
            </div>
          </slide>
          <slide>
            <img src="../../../../assets/imgs/intranetPortal/newsfeed.JPG" alt="second slide" class="img-fluid" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
               <h1 class = "slide-label">News Feed</h1>
            </div>
          </slide>
          <slide>
            <img src="../../../../assets/imgs/intranetPortal/users.JPG" alt="third slide" class="img-fluid" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
               <h1 class = "slide-label">Users</h1>
            </div>
          </slide>
          <slide>
            <img src="../../../../assets/imgs/intranetPortal/myarticles.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
               <h1 class = "slide-label">User Articles</h1>
            </div>
          </slide>
          <slide>
            <img src="../../../../assets/imgs/intranetPortal/myprofile.JPG" alt="second slide" class="img-fluid" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
               <h1 class = "slide-label">User Profile</h1>
            </div>
          </slide>
          <slide>
            <img src="../../../../assets/imgs/intranetPortal/questionans.JPG" alt="third slide" class="img-fluid" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
               <h1 class = "slide-label">Question and Answers</h1>
            </div>
          </slide>
          <slide>
            <img src="../../../../assets/imgs/intranetPortal/createarticle.JPG" alt="third slide" class="img-fluid" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
               <h1 class = "slide-label">Create Article</h1>
            </div>
          </slide>
          <slide>
            <img src="../../../../assets/imgs/intranetPortal/login.JPG" alt="third slide" class="img-fluid" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
               <h1 style = "color: #fff">Login Page</h1>
            </div>
          </slide>
      </carousel>

  </div>

  <div class = "carousel-container" *ngIf = "id == 2">

      <carousel>
          <slide>
            <img src="../../../../assets/imgs/isplanning/home.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/isplanning/home2.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/isplanning/subjects.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/isplanning/subjects2.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/isplanning/subjects3.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/isplanning/lectures.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/isplanning/vtutorials.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/isplanning/vtutorials2.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/isplanning/vplaying.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/isplanning/about.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/isplanning/contactus.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          
         
      </carousel>

  </div>

  <div class = "carousel-container" *ngIf = "id == 4">

      <carousel>

          <slide>
            <img src="../../../../assets/imgs/pizza/pizzahome.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/pizza/pizzahome2.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/pizza/pizzamenu.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/pizza/menu2.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/pizza/pizzacontactus.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
         
      </carousel>

  </div>

</section>

