<section class = "wrapper">

  <div class = "carousel-container" *ngIf = "id == 1">

      <h1 class = "display-6">Intranet Employee Portal for Sterling Global Call Center</h1>
      <carousel>
          
          <slide>
            <img src="../../../../assets/imgs/intranetPortal/news.JPG" alt="second slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/intranetPortal/dashboard.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/intranetPortal/newevents.JPG" alt="third slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/intranetPortal/events.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/intranetPortal/newsfeed.JPG" alt="second slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/intranetPortal/users.JPG" alt="third slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/intranetPortal/myarticles.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/intranetPortal/myprofile.JPG" alt="second slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/intranetPortal/questionans.JPG" alt="third slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/intranetPortal/createarticle.JPG" alt="third slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/intranetPortal/login.JPG" alt="third slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
      </carousel>

      <div class="jumbotron jumbotron-fluid" style = "background: #fff; padding-bottom: 15px; margin: 0px;">
        <div class="container">
          <p class="lead">
            An Intranet Employee Portal is a web application runs on Sterling Global Call Center's Server
            that allows users to create articles, news, events, question, answer and overview on the status of their
            respective team. This system have also a News Feed to see the latest post of users.
          </p>
        </div>
      </div>

      <div class = "tect-list">
        <h6 class = "display-6">Web tools used</h6>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">Spring Framework</li>
          <li class="list-group-item">Hibernate</li>
          <li class="list-group-item">AngularJS</li>
          <li class="list-group-item">SASS</li>
          <li class="list-group-item">ChartJS</li>
          <li class="list-group-item">Bootsrap 4</li>
          <li class="list-group-item">jQuery</li>
          <li class="list-group-item">Owl-carousel</li>
          <li class="list-group-item">Summernote</li>
          <li class="list-group-item">CSS3</li>
          <li class="list-group-item">HTML5</li>
        </ul>

      </div>
     

  </div>

  <div class = "carousel-container" *ngIf = "id == 2">

      <h1 class = "display-6">A Resource Center Website for Information Systems Students in New Era University</h1>
      <carousel>
          <slide>
            <img src="../../../../assets/imgs/isplanning/home.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/isplanning/home2.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/isplanning/subjects.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/isplanning/subjects2.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/isplanning/subjects3.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/isplanning/lectures.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/isplanning/vtutorials.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/isplanning/vtutorials2.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/isplanning/vplaying.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/isplanning/about.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/isplanning/contactus.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
         
      </carousel>

      <div class="jumbotron jumbotron-fluid" style = "background: #fff">
        <div class="container">
          <p class="lead">
             A Resource Center Website for Information Systems Students in New Era University
             is a web application that allows college students of Bachelor of Science in Information Systems
             to view a lectures watch tutorials, search about the course and more.
          </p>
        </div>
      </div>

      <div class = "tect-list">
        <h6 class = "display-6">Web tools used</h6>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">Spring Framework</li>
          <li class="list-group-item">JDBC</li>
          <li class="list-group-item">jQuery</li>
          <li class="list-group-item">Javasript</li>
          <li class="list-group-item">SASS</li>
          <li class="list-group-item">CSS3</li>
          <li class="list-group-item">HTML5</li>
        </ul>

      </div>

  </div>

  <div class = "carousel-container" *ngIf = "id == 3">

      <h1 class = "display-6">A Online Shopping Website for Woman Fashion(Delux)</h1>
      <carousel>

          <slide>
            <img src="../../../../assets/imgs/delux/home.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/delux/shop.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/delux/shop2.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/delux/buy.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/delux/buy2.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/delux/contact.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
         
      </carousel>

      <div class="jumbotron jumbotron-fluid" style = "background: #fff">
        <div class="container">
          <p class="lead">
             A Online Shopping Website for Woman Fashion(Delux) is a static website project in Application Development
          </p>
        </div>
      </div>

      <div class = "tect-list">
        <h6 class = "display-6">Web tools used</h6>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">jQuery</li>
          <li class="list-group-item">Javascript</li>
          <li class="list-group-item">CSS3</li>
          <li class="list-group-item">HTML5</li>
        </ul>

      </div>

  </div>

  <div class = "carousel-container" *ngIf = "id == 4">

      <h1 class = "display-6">Slice n Dine a static Restaurant Website</h1>
      <carousel>

          <slide>
            <img src="../../../../assets/imgs/pizza/pizzahome.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/pizza/pizzahome2.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/pizza/pizzamenu.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/pizza/menu2.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/pizza/pizzacontactus.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
         
      </carousel>

      <div class="jumbotron jumbotron-fluid" style = "background: #fff">
        <div class="container">
          <p class="lead">
             Slice n Dine a static Restaurant Website is a static website. This is a project in
             Business Procecss
          </p>
        </div>
      </div>

      <div class = "tect-list">
        <h6 class = "display-6">Web tools used</h6>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">jQuery</li>
          <li class="list-group-item">Javascript</li>
          <li class="list-group-item">CSS3</li>
          <li class="list-group-item">HTML5</li>
        </ul>

      </div>

  </div>

</section>

