<section class = "wrapper">

  <div class = "carousel-container" *ngIf = "id == 1">

      <carousel>
          <slide>
            <img src="../../../../assets/imgs/intranetPortal/dashboard.JPG" alt="first slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/intranetPortal/events.JPG" alt="second slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="../../../../assets/imgs/intranetPortal/newevents.JPG" alt="third slide" class="img-fluid" style="display: block; width: 100%;">
          </slide>
      </carousel>

  </div>

</section>
