@media screen and (max-width: 535px) 
{
    .webToolsBox
    {
      li
      {
          div
          {
              .dev-tools-title 
              {
                  font-size: 50% !important;
              }
          }
      }
    }
}

@media screen and (max-width: 600px) 
{
    .webToolsBox
    {
      li
      {
          div
          {
              .dev-tools-title 
              {
                  font-size: 70%;
              }
          }
      }
        
    }
}


@media screen and (max-width: 844px) 
{
    .row
    {
        .dev-tools-title 
        {
            font-size: 80%;
        }
    }

}
@media screen and (max-width: 939px) 
{
    .banner-container
    {
        .banner-jumb
        {
            .banner-wrapper
            {
                .banner-title
                {
                    h1
                    {
                        // font-size: 250% !important;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1078px)
{
    .banner-container
    {
        .banner-jumb
        {
            .banner-wrapper
            {
                .banner-title
                {
                    h1
                    {
                        // font-size: 350% !important;
                    }
                }
            }
        }
    }
}