<nav class="navbar navbar-expand-sm navbar-light" style = "background: #fff;">
  <a class="navbar-brand" routerLink = "/home">RenzDev</a>
  <button class="navbar-toggler" (click)="collapse=!collapse" type="button" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
    </span>
  </button>

  <div class="navbar-collapse" (click)="collapse=true" [hidden]="collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink = "/home" routerLinkActive = "active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = "/projects" routerLinkActive = "active">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = "/about" routerLinkActive = "active">About</a>
      </li>
    </ul>
  </div>
</nav>
