<section class = "banner-container2">
    <img src = "../../../assets/imgs/me.jpg" alt = "Banner">
    <div class="jumbotron jumbotron-fluid banner-jumb">
        <div class = "banner-wrapper">
            <div class = "banner-title">
              <h1 class = "title">Hello, I'm Var Arenz Villarino</h1>
              <h1 class = "title">I'm a Web Developer</h1>
            </div>
            <button type="button" class="btn btn-light" routerLink = "/projects" style = "background: transparent; color: #fff;"><strong>View my works</strong></button>
        </div>
    </div>
</section>

<div class="jumbotron jumbotron-fluid head-jumb">
  <div class="container">
    <div class = "homePara">
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
    </div>
  </div>
</div>