<section class = "banner-container2">
    <img src = "./assets/imgs/me.jpg" alt = "Banner">
    <div class="jumbotron jumbotron-fluid banner-jumb">
        <div class = "banner-wrapper">
            <div class = "banner-title">
              <h1 class = "title">Hello, I'm Var Arenz Villarino</h1>
              <h1 class = "title">I'm a Web Developer</h1>
            </div>
            <button type="button" class="btn btn-light" routerLink = "/projects" style = "background: transparent; color: #fff;"><strong>View my works</strong></button>
        </div>
    </div>
</section>

<div class="jumbotron jumbotron-fluid head-jumb">
  <div class="container">
    <div class = "homePara">
        <p>
            Var Arenz G. Villarino is a Web Developer. He loves to code in Spring Framework for Back-end
            and Angular/AngularJS for Front-end Development. I love to learn new things. I'm a quick learner and ability to work under pressure.
            Has an Ability to work in a team and under pressure.
        </p>
    </div>
  </div>
</div>

<div class = "container">

    
    <div class = "container mb-5">
        <h1 class = "content-header">Awards</h1>
    </div>
    <div class = "row justify-content-center mb-5">
        
        <div class = "col-lg-5 col-md-6 col-sm-6">
            <img src = "./assets/imgs/datastruct.jpg" class="img-fluid" style = "width: 90%; margin: 0px 5%;" alt = "Var Arenz">
        </div>

        <div class = "col-lg-7 col-md-6 col-sm-6">
            <h4 class = "display-6">Best In Data Structures</h4>
            <p class = "lead">
                I got this recognition because of cleanliness, data organization and more precisely
                coding in Java.
            </p>
        </div>

    </div>

</div>

<div class = "container">

    <div class = "container mb-5">
        <h1 class = "content-header">Affiliation</h1>
    </div>

    <div class = "row justify-content-center mb-5">
        
        <div class = "col-lg-5 col-md-6 col-sm-6">
            <img src = "./assets/imgs/varenz.jpg" class="img-fluid" style = "width: 90%; margin: 0px 5%;" alt = "Var Arenz">
        </div>

        <div class = "col-lg-7 col-md-6 col-sm-6">
            <h4 class = "display-6">Academic Commitee Chairman</h4>
            <p class = "lead">
                As Academic Commitee Chairman of Bachelor of Science in Information Systems
                I Shared my knowledge with the lower year which has a course of BS Information Systems. 
                I'm more prepared to teaching them in Front-end Development mostly in Java.
            </p>
        </div>

    </div>

</div>