@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "app/scss/mixin.scss";
@import "app/scss/variables.scss";

*
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#mainNav
{
    background: #fff;
}
#mainNav
{
    ul
    {
        @include clear;
        margin: 0px;
        li
        {
            margin: 0px 20px;
            line-height: 56px;
            list-style-type: none;
            float: left;
            a
            {
                color: $primaryDarkcolor;
                text-decoration: none;
            }
        }
    }
}
.mainBanner
{
    height: 450px;
    overflow: hidden;
    
}
.test
{
    position: absolute;
    top: 0px;
}
h1
{
    color: $primaryDarkcolor;
}

