@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "app/scss/mixin.scss";
@import "app/scss/variables.scss";

*
{
    font-family: 'Lucida Sans',
                 'Lucida Sans Regular', 
                 'Lucida Grande', 
                 'Lucida Sans Unicode',
                  Geneva,
                  Verdana,
                  sans-serif;
}
.wrapper
{
    width: 90%;
    margin: 0px 5%;
}
#mainNav
{
    background: #fff;
}
#mainNav
{
    ul
    {
        @include clear;
        margin: 0px;
        li
        {
            margin: 0px 20px;
            line-height: 56px;
            list-style-type: none;
            float: left;
            a
            {
                color: $primaryDarkcolor;
                text-decoration: none;
            }
        }
    }
}
.content-header
{
    color: $primaryDarkcolor;
    text-align: center;
}

.homePara
{
    width: 80%;
    margin: 0px 10%;
    p
    {
        font-size: 150%;
        color: $primaryDarkcolor;
    }
}
.head-jumb
{
    background: $primaryGreen;
}
.view-button
{
    @include viewButton;
}
